body{
    font-family: 'Merriweather', serif;
}
.top-head{
    background-color: rgba(255, 0, 0, 0.05);
    margin:100px 140px;
}
.header-main-container{
    background-image: url('../resources/Banner Image.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 0px 140px;
   
}
.header-main-container{
    text-align: center;
    color:white;
    padding-top: 200px;
}
.heading-first{  
font-size: 32px;
font-weight: 400;
margin-top: 10px;
}
.heading-second{
font-size: 72px;
font-weight: 900;
}
 .seconder{
    background-color: rgba(255, 0, 0, 0.05);
    margin:100px 140px;
 }
.second-section{
    display:block;
    
   
}  
.all-happy{
  text-align: center;
} 
.img{
   display: flex;
   justify-content: center;
}
.offer{

color: #F00;
font-size: 88px;
font-weight: 700;

}
.holyday{
    color: #F00;
font-size: 24px;
font-weight: 500;
margin-top: 16px;
}
.categories{
    color: #070211;
font-size: 48px;
font-weight: 700;
}
.over-all{
    display: flex;
    justify-content: space-around;
}
.midnight-party{
    background-image: url('../resources/Vectorrr.png');
    background-color: rgba(255, 0, 0, 0.05);
    margin:100px 140px;
    width: 1320px;
    height: 600px;
} 
  
#unique{
font-size: 64px;
font-weight: 900;
color: #FFF;
}
.small{
font-size: 18px;
text-align: left;
color: white;

}
.pdt{
        margin:100px 140px;
        background-color: rgba(255, 0, 0, 0.05);
  
}
.btn{
    border: none;
    background-color: transparent;
    color: #FFF;
     
   
}
.span{
    color:red;
}
div> p{
    color: #070211;
font-size: 12px;
font-weight: 600;
text-align: center;
}
.button{
    border-radius: 8px;
    background: #F00;
   padding: 16px 32px;
   display: block;
   border: none;
   color:#FFF;
   align-items: center;
}
.click{
    display: flex;
    justify-content:center;
}
h5{
    color: #F00;

font-size: 24px;
font-weight: 500;
}
h3{
    color: #070211;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
}
 .Dolor{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    text-align: left;
  
}
.gift{
    font-size: 24px;
     font-weight: 500;
     padding-bottom: 0px;

}
.aeesome{
    font-size: 48px;
    font-weight: 900;
    padding-top: 16px;
}
.folder{
    margin-top: 10px;
}
.img-four{
    position:static;

}
.img-one{
    position: absolute;
}
.img-three{
    float: right;
    position:static;
}


.best{
    margin:50px 140px;
}
.new-heading{
    text-align: center;

}
.newsletter{
    margin:50px 140px;
    
}
#newsletter form{
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    gap:10px;
}
#newsletter form input{
    width:600px;
    flex-grow: 1;
    border: 1px solid black;
    border-radius: 3px;
    padding: 16px 32px;
}
.newsletter-container{
    background-color: rgba(255, 0, 0, 0.05);
    margin:100px 140px;
}

    /* footer style */
  footer{
        display: flex;
       justify-content: space-between;
       margin:100px 140px;
  
    }
    .section-footer{
        display: flex;
        justify-content: center;
    }
   .footer-last{
    display: flex;
       justify-content: space-between;
       margin:100px 140px;
  
   }
   .style{
    background: rgba(95, 31, 31, 0.05);

   }
    .pro-one , .pro-two{
        text-align: left;
    }
    .all-portion{
        display:flex;
        justify-content: space-between;
        margin:100px 140px;
        background-color: rgba(255, 0, 0, 0.05);
  
    }
    .circle{
        border-radius: 463px;
        border: 15px solid #F00;
        padding: 17px;
    }
    #red{
        color: #F00;
        font-size: 72px;
        font-weight: 900;
    }
    .funtion{
        color:#070211;
        text-align: center;
        font-size: 24px;
        line-height: normal;
    }
    .sale{
        font-size: 72px;
        font-weight: 900;
        text-align: center;
    }
    .holiday{
        background-color: rgba(255, 0, 0, 0.05);
        margin:100px 140px;
    }